<div class="row">
  <div class="col s3 offset-s9">
     <form action="/analytic/upload" method="post" enctype="multipart/form-data">
    <label for="file" class="label" style="margin-top: 8vh"><div class="icons" style="margin-right:5px"><i class="material-icons">file_download</i></div>ЗАГРУЗИТЬ</label><br>
    <input class="inp hide" id="file" type="file" name="filedata" />
    <button class="btn analitics-done hide">Готово!</button>
</form>
  </div>
</div>


