<div class="row">
  <div class="col s3 offset-s9">
     <form action="/analytic/upload" method="post" enctype="multipart/form-data">
    <label for="file" class="label" style="margin-top: 8vh"><div class="icons" style="margin-right:5px"><i class="material-icons">file_download</i></div>ЗАГРУЗИТЬ</label><br>
    <input class="inp hide" id="file" type="file" name="filedata" />
    <button class="btn analitics-done hide">Готово!</button>
</form>
  </div>
</div>

<div class="row">
    <div class="col s12">
      <div class="card-panel-main_1 indigo darken-4">
        <div class="row">
        <div class="row">
          <div class="row"></div>
        </div>
        </div>
        <span class="white-text" style="font-family:Montserrat"><center><h1>smartOps</h1></center></span>
        <div class="row"></div>
        <div class="row"></div>
        <span class="white-text" style="font-family:Montserrat"><center><h1>Умная система для оценки персонала</h1></center>
        </span>
        <div class="row"></div>
        <span class="white-text"><center><big>Поможем Вам повысить эффективность труда, улучшить климат в коллекти и сэкономить ресуры</big></center>
        </span>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <center><a class="waves-effect waves-light btn-large blue darken-1">Наши решения</a></center>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card-panel-main_2 indigo darken-4">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <span class="white-text"><center><big>Проведение интеллектуального анализа и предоставление наглядной информации
          как об отдельном сотруднике, так и о компании в целом в режиме реального времени
        </big></center>
        </span>
        <div class="row"></div>
        <div class="row"></div>
        <center><a class="waves-effect waves-light btn-large blue darken-1">Узнать больше</a></center>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <span class="white-text"><center><small>Быстро, наглядно, эффективно</small></center>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card-panel-main_2 indigo darken-4">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <span class="white-text"><center><big>Прогнозирование, выдача рекомендаций по развитию компетенций, подготовка 
          индивидуального плана развития
        </big></center>
        </span>
        <div class="row"></div>
        <div class="row"></div>
        <center><a class="waves-effect waves-light btn-large blue darken-1">Узнать больше</a></center>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <span class="white-text"><center><small>Использование данных для эффективного построения бизнеса</small></center>
        </span>
      </div>
    </div>
  </div>
<div class="row"></div>
<div class="row"></div>
  <div class="row">
    <div class="col s3 offset-s2">
        <span class="text"><h1>Наши партнеры</h1>
        </span>
    </div>
  </div>
  <div class="row">
  <div class="col s2 offset-s2">
      <div class="card">
        <div class="card-image">
          <img src="/images/795151.jpg">
        </div>
      </div>
    </div>
    <div class="col s2 offset-s1">
      <div class="card">
        <div class="card-image">
          <img src="/images/_1444220180.gif">
        </div>
      </div>
    </div>
    <div class="col s2 offset-s1">
      <div class="card">
        <div class="card-image">
          <img src="/images/maxresdefault.jpg">
        </div>
      </div>
    </div>
  </div>


<div class="row"></div>
<div class="row"></div>

<div class="row"></div>
        <div class="row"></div>

   <div class="row">
    <div class="col s3 offset-s2">
        <span class="text"><h1>Команда</h1>
        </span>
    </div>
  </div> 

<div class="row">
  <div class="col s2 offset-s1">
      <div class="card">
        <div class="card-image">
          <img src="/images/1.png">
        </div>
        <div class="card-content">
          <center><p>Рогозина Анастасия</p></center>
        </div>
      </div>
    </div>
    <div class="col s2 offset-s1">
      <div class="card">
        <div class="card-image">
          <img src="/images/2.png">
        </div>
        <div class="card-content">
          <center><p>Лебедева Алина</p></center>
        </div>
      </div>
    </div>
    <div class="col s2 offset-s1">
      <div class="card">
        <div class="card-image">
          <img src="/images/3.png">
        </div>
        <div class="card-content">
          <center><p>Дмитрий Стародубов</p></center>
        </div>
      </div>
    </div>
    <div class="col s2 offset-s1">
      <div class="card">
        <div class="card-image">
          <img src="/images/4.png">
        </div>
        <div class="card-content">
          <center><p>Петросян Артём</p></center>
        </div>
      </div>
    </div>
      <div class="row"></div>
      <div class="row"></div>
      <center><a class="waves-effect waves-light btn-large blue darken-1">Подробнее о нас</a></center>
    </div>

<div class="row"></div>
<div class="row"></div>
  <div class="row">
    <div class="col s3 offset-s2">
        <span class="text"><h1>Новости и обновления</h1>
        </span>
    </div>
  </div>

<div class="row">
  <div class="col s8 offset-s2">
      <div class="card">
        <div class="card-image">
          <img src="/images/photo_2021-09-26_02-39-38.jpg">
        </div>
      </div>
      <div class="row"></div>
      <div class="row"></div>
    </div>
    </div>

          <footer class="page-footer indigo darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="text"><font color="white">smartOps</font></h5>
                <p class="text"><font color="white">Умный помощник для Вашего бизнеса</font></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"><font color="white">Наши контакты:</font></h5>
                <ul>
                  <li><a class="text" href="#!"><font color="white">email:</font></a></li>
                  <li><a class="text" href="#!"><font color="white">мы в соц сетях:</font></a></li>
                  <li><a class="text" href="#!"><font color="white">тел:</font></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <font color="white">© 2014 Copyright Text</font>
            <a class="text" href="#!"><font color="white">More Links</font></a>
            </div>
          </div>
        </footer>


